/*TAGS SELECTOR*/
body {
  background-color: #dddddd;
  font-family: "Roboto", serif;
}

hr {
  border-color: gray;
  border-width: 6px;
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 3%;
}
h3 {
  color: #276678;
  font-family: "Merienda", cursive;
}
h1 {
  color: #1687a7;
  font-size: 3rem;
  font-family: "Kalam", cursive;
}
h2 {
  font-family: "Merienda", cursive;
}
a:hover {
  color: #387c6d;
}

a {
  color: #435560;
}

/*CLASS SELECTORS*/
.contactlist {
  color: #276678;
}

.theadCert {
  color: #1581a1;
}

.link {
  margin: 10px 20px;
}
/* .udemy1:hover{
    float:right;
    margin: 15px;
    padding: 3px;
} */
